<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Interfaccia Amministratore</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
  </head>
  <body>
    <nav class="sticky-top bg-white">
      <div class="container">
        <div class="d-flex flex-row align-items-center">
          <div class="text-start mt-2 mt-sm-0">
            <a href="/" class="btn btn-outline-primary" title="Torna indietro"><i class="bi bi-arrow-left"></i><span class="ms-1 d-none d-md-inline">Indietro</span></a>
          </div>
          <div class="flex-grow-1 text-truncate text-start mt-2 mt-sm-0">
            <h1 class="display-3 ms-4 d-inline align-middle">Interfaccia Amministratore</h1>
          </div>
          <div class="me-1 mt-2 mt-sm-0">
            <button type="button" name="button" class="btn btn-outline-success">Salva</button>
          </div>
        </div>
        <hr>
      </div>
    </nav>

    <div class="container mt-4">

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>
