<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>
  <body class="bg-primary bg-opacity-75 ">
    <div class="container">
      <div class="container mt-5 shadow-lg p-3 mb-5 bg-body rounded">
        <h1 class="display-3">Accedi</h1>
        <hr>
        <p class="fw-light">Esegui l'accesso per continuare</p>

        <form action="/auth/login" method="POST">
          <div class="form-floating mb-2">
            <input type="text" id="username" class="form-control" name="username" value="" placeholder="">
            <label for="username">Nome Utente</label>
          </div>
          <div class="form-floating mb-2">
            <input type="password" id="password" class="form-control" name="password" value="" placeholder="">
            <label for="password">Password</label>
          </div>
          <div class="d-grid justify-content-md-end">
            <button type="submit" class="btn btn-outline-primary">Accedi</button>
          </div>
        </form>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>
